html, body, .App {
    height: 100%;
    max-height: auto;
   

}
body{
    margin: 0;
}
html {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
    box-sizing: border-box;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }