html, body, .App, #root {
    height: 100%;
    max-height: auto;

}
html {
    box-sizing: border-box;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }

:root {
    --AzulPrincipal: #00264C;
    --AzulSecundario: #26609b;
    --AzulTerciario: #c6e2fc;
    --AzulSecundarioT: #26619b7e;
    --BlancoPrincipal: #c6e2fc;
    --BlancoSecundario: #cecece;
    --BlancoV2: #ffffff;
    --MoradoPrincipal: #8578F6;
    --NaranjaPrincipal: #FE9B66;
    --RojoPrincipal: #CC0001;
}
